<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/login" class="btn btn-info">Login</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/clients" class="btn btn-info">Client list</a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-warning" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>

      <app-notification></app-notification>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
