<div class="container">
  <div class="py-5 text-center">
    <h2>Clients</h2>
  </div>

  <div class="card-body">
    <a routerLink="/clients/create" class="btn btn-primary">Create client</a><br><br>
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Country</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.firstName }}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.country }}</td>
        <td>
          <a routerLink="/clients/edit/{{client.id}}" class="btn btn-primary">Edit client</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
