<div class="container">
  <div class="py-5 text-center">
    <h2>Add Client</h2>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <form class="needs-validation" role="form" (submit)="createClient()">
        <div class="mb-3">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" required="true" name="firstName" placeholder=""
                 [(ngModel)]="client.firstName" #firstName="ngModel">
        </div>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
             class="small alert alert-danger">
          First name is required.
        </div>

        <div class="mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" required="true" name="lastName" placeholder=""
                 [(ngModel)]="client.lastName" #lastName="ngModel">
        </div>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
             class="small alert alert-danger">
          Last name is required.
        </div>


        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com"
                 [(ngModel)]="client.email">
        </div>

        <div class="mb-3">
          <label for="address">Address <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St"
                 [(ngModel)]="client.address">
        </div>

        <div class="mb-3">
          <label for="country">Country <span class="text-muted">(Optional)</span></label>
          <select name="country" id="country" class="form-control" [(ngModel)]="client.country">
            <option *ngFor="let country of availableCountries" [value]="country">{{ country }}</option>
          </select>
        </div>

        <hr class="mb-4">

        <button class="btn btn-success btn-lg btn-block" type="submit">Add Client</button>
      </form>
    </div>
  </div>
</div>
